<ion-header>
  <ion-toolbar>
    <ion-title>mototaxi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Onde estou?</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Casa</ion-label>
          <ion-radio slot="start" value="casa" (ionSelect)="radioSelect($event)" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Outro lugar</ion-label>
          <ion-radio slot="start" value="outro" (ionSelect)="radioSelect($event)"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    
    <ion-item *ngIf="casa">
      <ion-label position="stacked">Qual o numero da casa?</ion-label>
      <ion-input [(ngModel)]="nCasa"></ion-input>
    </ion-item>

    <ion-item *ngIf="outro">
      <ion-label position="stacked">Qual o ponto de referencia?</ion-label>
      <ion-input [(ngModel)]="referencia"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="callMototaxi()">Chamar Mototaxi</ion-button>
    <ion-card *ngIf="nome_mototaxista">
      Mototaxista: <h3>{{this.nome_mototaxista}}</h3>
      Placa: <h5>XXX001</h5>
      Tempo de chegada: até 3 minutos
    </ion-card>
</ion-content>
