ion-toolbar {
    --background: blue;
    color: yellow;
}

ion-content {
    --background: url('/assets/bg.jpg') no-repeat center center / cover;
}
#lotofacil {
    background-color: deeppink;
}
#lotomania {
    background-color: darkorange;
}
#megasena {
    background-color: forestgreen;
}