<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>S.U.S.E - L O T E R I A S</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button id="megasena" expand="block" size="large" color="megasena" (click)="megasena()">MEGA-SENA</ion-button>
  <ion-button id="lotofacil" expand="block" size="large" color="lotofacil" (click)="lotofacil()">LOTOFACIL</ion-button>
  <ion-button id="lotomania" expand="block" size="large" color="lotomania" (click)="lotomania()">LOTOMANIA</ion-button>
  <!--<ion-button expand="block" size="large" color="tertiary">QUINA</ion-button>-->
  <ion-button id="resultados" expand="block" size="large">RESULTADOS</ion-button>
</ion-content>
