<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>VASCO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="card-top">
		<div class="card-header">
			<div class="profile_pic">
				<img src="assets/futebol/vasco.png">
			</div>
		</div>
		<div class="card-body">
			<div class="d-lfex justify-content-center flex-column">
				<div class="name_container">
				  <div class="name">VASCO</div>
				</div>
			</div>
		</div>
    <div class="heart-votar"  (click)="torcedor(vote[0])">
      <img src="{{vote[0].value}}"> 
    </div>
     <div class="badge">
        <ion-badge color="primary">11 torcedores</ion-badge>
      </div>
	</div>
        <!-- Scrollable Segment -->
  <ion-segment scrollable>
    <ion-segment-button checked>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    
  </ion-segment>
  <!--<ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="assets/futebol/jon-snow-475x365.jpg">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/futebol/img-torcedor-1.jpg">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/futebol/loonapix.jpg">
        </div>
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>-->


  <div id="images">
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/530/290/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/530/290/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/530/290/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
    <div class="item-foto">
        <img class="img-foto" src="https://picsum.photos/400/250/?random">
    </div>
</div>
<br>
<h3 class="label-crack">CRAQUE DO TIME NA RODADA</h3>
<ion-item class="crackdarodada">
          <ion-thumbnail slot="start">
            <img src="assets/futebol/jon-snow-475x365.jpg">
          </ion-thumbnail>
          <ion-label>
            <h3>JON SNOW</h3>
            <p>Atacante</p>
            <p>8 gols</p>
          </ion-label>
        </ion-item>
<!--<div>
<ion-item class="post">
  <ion-avatar slot="start" style="margin-top:-20%;">
    <img src="assets/futebol/vasco.png">
  </ion-avatar>
  <ion-label>
    <h3>Reunião</h3>
    <ion-textarea><p>Beba bastante agua durante o dia e coma alguma coisa</p></ion-textarea>
    </ion-label>
</ion-item>
</div>-->

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/futebol/vasco.png">
      </ion-avatar>
      <ion-label>
        <h2>Vasco</h2>
        <p>fundado em, 21 de agosto de 1898</p>
      </ion-label>
    </ion-item>

    <img src="assets/futebol/vasco.png">

  <ion-card-content>
    <p>A história do Club de Regatas Vasco da Gama começa no ano de 1898, ano da fundação do clube na cidade do Rio de Janeiro. Um clube inicialmente fundado por causa da prática do remo, mas que com o tempo foi agregando novos esportes e é atualmente uma das entidades esportivas mais populares e tradicionais do Brasil.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
     
    </ion-col>
    <ion-col>
      
    </ion-col>
    <ion-col align-self-center text-center>
      <ion-note>
        11h atrás
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>


  <!--<ion-col>
    <ion-card class="card" id="ion-card-analizar" (click)="verificador()">
      <div id="dezena">O CLUBE</div>
    </ion-card>
  </ion-col> 

  <ion-col>
    <ion-card class="card" id="ion-card-torcida" (click)="verificador()">
      <div id="dezena">TORCEDORES</div>
    </ion-card>
  </ion-col> -->
  
  <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div>
  
  <!--<div id="disqus_thread"></div>-->


</ion-content>
