<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Denuncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="registrarDenuncia(form)">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">Nome <ion-text color="danger">(opcional)</ion-text></ion-label>
            <ion-input name="nome" required type="text" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Telefone ou e-mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name="contato" required type="text" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Denuncia</ion-label>
            <ion-textarea name="denuncia" required ngModel required></ion-textarea>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button type="submit" expand="block" class="ion-no-margin">Enviar Denuncia</ion-button>
        </div>
      </form>
     
</ion-content>
 
