.vice {
    //width: 50%;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

table td,.invoice table th {
    padding: 10px;
    background: #eee;
    border-bottom: 1px solid #fff
}

table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

table .qty,.invoice table .total {
    text-align: right;
    font-size: 1.2em
}

table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}
.invoice table .unit {
    //text-align: center;
    //font-size: 1.0em
}
table .unit {
    background: #ddd;
    padding-left: 10px;
    padding-right: 10px;
}
table .ipva {
    background: #ddd;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

table .total {
    background: #3989c6;
    color: #fff;
    margin-right: 5px
}

table tbody tr:last-child td {
    border: none
}

table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 80px 1px 1px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

table tfoot tr:first-child td {
    border-top: none
}

table tfoot tr:last-child td {
    color: #3989c6;
    //font-size: 1.4em;
    border-top: 1px solid #3989c6
}

table tfoot tr td:first-child {
    border: none
}

//ion-grid
ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
  }










  //terceiro profile
//   .twPc-div {
//     background: #fff none repeat scroll 0 0;
//     border: 1px solid #e1e8ed;
//     border-radius: 6px;
    
// }
// .twPc-bg {
//     background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
//     background-position: 0 50%;
//     background-size: 100% auto;
//     border-bottom: 1px solid #e1e8ed;
//     border-radius: 4px 4px 0 0;
//     height: 95px;
//     width: 100%;
// }
// .twPc-block {
//     display: block !important;
// }
// .twPc-button {
//     margin: -35px -10px 0;
//     text-align: right;
//     width: 100%;
// }
// .twPc-avatarLink {
//     background-color: #fff;
//     border-radius: 6px;
//     display: inline-block !important;
//     float: left;
//     margin: -30px 5px 0 8px;
//     max-width: 100%;
//     padding: 1px;
//     vertical-align: bottom;
// }
// .twPc-avatarImg {
//     border: 2px solid #fff;
//     border-radius: 7px;
//     box-sizing: border-box;
//     color: #fff;
//     height: 72px;
//     width: 72px;
// }
// .twPc-divUser {
//     margin: 0 0 0;
// }
// .twPc-divName {
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 21px;
//     padding-top: 6px;
// }
// .twPc-divName a {
//     color: inherit !important;
// }
// .twPc-divStats {
//     margin-left: 11px;
//     padding: 10px 0;
// }
// .twPc-Arrange {
//     box-sizing: border-box;
//     display: table;
//     margin: 0;
//     min-width: 100%;
//     padding: 0;
//     table-layout: auto;
// }
// ul.twPc-Arrange {
//     list-style: outside none none;
//     margin: 0;
//     padding: 0;
// }
// .twPc-ArrangeSizeFit {
//     display: table-cell;
//     padding: 0;
//     vertical-align: top;
// }
// .twPc-ArrangeSizeFit a:hover {
//     text-decoration: none;
// }
// .twPc-StatValue {
//     display: block;
//     font-size: 18px;
//     font-weight: 500;
//     transition: color 0.15s ease-in-out 0s;
// }
// .twPc-StatLabel {
//     color: #8899a6;
//     font-size: 10px;
//     letter-spacing: 0.02em;
//     overflow: hidden;
//     text-transform: uppercase;
//     transition: color 0.15s ease-in-out 0s;
// }

//table