<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Prefeitura de Anori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/futebol/prefeitura/jamilson.jpg">
        <ion-card-header>
          <ion-card-subtitle>Prefeito</ion-card-subtitle>
          <ion-card-title>Jamilson Carvalho</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          MDB
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <div class="vice"><img src="assets/futebol/prefeitura/regis2.jpg"></div>
        <ion-card-header>
          <ion-card-subtitle>Vice-Prefeito</ion-card-subtitle>
          <ion-card-title>Regis Nazaré</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          MDB
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div><h2>Recursos Transferidos</h2></div>
  <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <!--<th>#</th>-->
                            <th class="text-left"></th>
                            <th class="text-right"></th>
                            <!--<th class="text-right">HOURS</th>-->
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--<td class="no">04</td>-->
                            <td class="text-left">
                            <h3>GOVERNO * FEDERAL</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 12.990.971,90</td>
                        </tr>
                        <tr>
                            <!--<td class="no">01</td>-->
                            <td class="text-left"><h3>GOVERNO ** ESTADUAL</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 4.711.052,80</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!--<tr>
                            <td colspan="0"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>$5,200.00</td>
                        </tr>
                        <tr>
                            <td colspan="0"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>$1,300.00</td>
                        </tr>-->
                        <tr>
                            <!--<td colspan="0"></td>-->
                            <td colspan="0">TOTAL</td>
                            <td>R$ 17.702.024,70</td>
                        </tr>
                    </tfoot>
                </table>
                <div>* exercicio 2019</div>
                <div>** até Julho</div>

    <div><h2>Detalhamento dos Recursos Transferidos - Gov. Federal</h2></div>
                <table cellspacing="0" cellpadding="0">
                    
                    <tbody>
                        <tr>
                            <!--<td class="no">04</td>-->
                            <td class="text-left"><h3>FUNDO DE PARTICIPACAO DOS MUNICIPIOS</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 5.294.605,37</td>
                        </tr>
                        <tr>
                            <!--<td class="no">01</td>-->
                            <td class="text-left"><h3>Royalties</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 3.412.272,99</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>PISO DE ATENCAO BASICA EM SAUDE</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 1.399.346,07</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>FUNDEB</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 1.076.204,78</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>SAUDE DA POPULACAO PARA PROCEDIMENTOS EM MEDIA E ALTA COMPLEXIDADE</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 480.434,22</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>ACOES DE PROTECAO SOCIAL BASICA</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 139.037,34</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>Vigilância em Saúde</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 70.383,06</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>FUNDEB</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 1.076.204,78</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>FARMÁCIA BÁSICA</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 64.282,96</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>Merenda Escolar</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 46.447,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>Indice de Gestão Descentralizada - IGD</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 33.071,49</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>DINHEIRO DIRETO NA ESCOLA PARA A EDUCACAO BASICA</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 28.300,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>CIDE - Combustíveis</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 13.591,13</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>PROGRAMA CRIANCA FELIZ</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 12.450,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>PISO DE ATENCAO BASICA EM SAUDE</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 6.695,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>Vigilância Sanitária</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 6.161,40</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>PDDE</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 4.760,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>PDDE</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 3.870,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>BPC</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 400,00</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>APOIO A IMPLEMENTACAO DA REDE CEGONHA</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 357,50</td>
                        </tr>
                        <tr>
                            <!--<td class="no">03</td>-->
                            <td class="text-left"><h3>IMPOSTO TERRITORIAL RURAL</h3></td>
                            <!--<td class="unit">PAGO</td>-->
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 62,10</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!--<tr>
                            <td colspan="0"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>$5,200.00</td>
                        </tr>
                        <tr>
                            <td colspan="0"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>$1,300.00</td>
                        </tr>-->
                        <tr>
                            <!--<td colspan="0"></td>-->
                            <td colspan="0">TOTAL</td>
                            <td>R$ 12.990.971,90</td>
                        </tr>
                    </tfoot>
                </table>

  <div><h2>Detalhamento dos Recursos Transferidos - Gov. Estadual</h2></div>
  <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <!--<th>#</th>-->
                            <th class="text-left">PERIODO</th>
                            <th class="">IPVA</th>
                            <!--<th class="text-right">HOURS</th>-->
                            <th class="text-right">ICMS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--<td class="no">04</td>-->
                            <td class="text-left"><h3>JAN</h3></td>
                            <td class="ipva">3.743,70</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 749.227,98</td>
                        </tr>
                        <tr>
                            <!--<td class="no">01</td>-->
                            <td class="text-left"><h3>FEV</h3></td>
                            <td class="ipva">3.824,16</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 738.038,30</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>MAR</h3></td>
                            <td class="ipva">1.412,84</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 635.884,01</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>ABR</h3></td>
                            <td class="ipva">2.855,26</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 724.600,71</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>MAI</h3></td>
                            <td class="ipva">7.866,88</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 725.224,13</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>JUN</h3></td>
                            <td class="ipva">327,88</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 632.615,35</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>JUL</h3></td>
                            <td class="ipva">1.724,76</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 483.706,84</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        
                        <tr>
                            <!--<td colspan="2"></td>-->
                            <td colspan="2">ICMS</td>
                            <td>4.689.297,32</td>
                        </tr>
                        <tr>
                            <!--<td colspan="2"></td>-->
                            <td colspan="2">IPVA</td>
                            <td>+ 21.755,48</td>
                        </tr>
                        <tr>
                            <!--<td colspan="0"></td>-->
                            <td colspan="2">TOTAL</td>
                            <td>R$ 4.711.052,80</td>
                        </tr>
                    </tfoot>
                </table>
  <div><h2>Detalhamento dos Programas de transferência de renda direta ao cidadão</h2></div>
  <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <!--<th>#</th>-->
                            <th class="text-left">Programa</th>
                            <th class="text-right">Atendidos</th>
                            <!--<th class="text-right">HOURS</th>-->
                            <th class="text-right">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--<td class="no">04</td>-->
                            <td class="text-left"><h3>Bolsa Familia</h3></td>
                            <td class="unit">3.038</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 3.018.271,00	</td>
                        </tr>
                        <tr>
                            <!--<td class="no">01</td>-->
                            <td class="text-left"><h3>Seguro Defeso</h3></td>
                            <td class="unit">1.266</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 3.834.316,00	</td>
                        </tr>
                        <tr>
                            <!--<td class="no">02</td>-->
                            <td class="text-left"><h3>Benefício Prestação Continuada (BPC)</h3></td>
                            <td class="unit">145</td>
                            <!--<td class="qty">100</td>-->
                            <td class="total">R$ 854.288,00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!--<tr>
                            <td colspan="0"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>$5,200.00</td>
                        </tr>
                        <tr>
                            <td colspan="0"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>$1,300.00</td>
                        </tr>-->
                        <tr>
                            <!--<td colspan="0"></td>-->
                            <td colspan="2">TOTAL</td>
                            <td>R$ 7.706.875,00</td>
                        </tr>
                    </tfoot>
                </table>
  
</ion-content>


<!--<div class="row">
    <div class="twPc-div">
        <a class="twPc-bg twPc-block"></a>  
        <div style="margin-top: -71px;text-align: center;font-family: fantasy;">SECRETARIA DE TURISMO</div>
      <div style="margin-top: 44px;"> 
        <a title="Mert S. Kaplan" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
          <img alt="Mert S. Kaplan" src="https://mertskaplan.com/wp-content/plugins/msk-twprofilecard/img/mertskaplan.jpg" class="twPc-avatarImg">
        </a>
        <div class="twPc-divUser">
          <div class="twPc-divName">
            <a>Mert S. Kaplan</a>
          </div>
          <span>
            <a>Secretario</a>
          </span>
        </div>
        <div>
          <ul style="list-style-type: none;">
            <li><ion-icon name="call"></ion-icon> (92) 9999-9999</li>
            <li><ion-icon name="clock"></ion-icon> 08:00hr até 17:00hr</li>
            <li><ion-icon name="at"></ion-icon> turismo@hotmail.com</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>-->

  <!--<ion-grid>
    <ion-row align-items-center>
      <ion-col><h3>FUNDO DE PARTICIPACAO DOS MUNICIPIOS</h3></ion-col>
      <ion-col><div>R$ 5.294.605,37</div></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col><h3>Royalties</h3></ion-col>
      <ion-col><div>R$ 3.412.272,99</div></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col><h3>PISO DE ATENCAO BASICA EM SAUDE</h3></ion-col>
      <ion-col><div>R$ 1.399.346,07</div></ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col><h3>FUNDEB</h3></ion-col>
      <ion-col><div>R$ 1.076.204,78</div></ion-col>
    </ion-row>
  </ion-grid>-->