<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>FUTEBOL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-segment scrollable>
    <ion-segment-button checked>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    
  </ion-segment>-->

  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of [1,2,3,4,1,2,3,4]" style="width: 98px;" >
      <ion-col class="progress-col">
          <img src="assets/futebol/times/{{ img }}.png" tappable (click)="openTime()">
      </ion-col>
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col size="9">
      <h4 class="label-crack">Jogador da Rodada</h4>
    </ion-col>
    <ion-col size="3">
      <ion-button class="votar-button" (click)="openVotacaoMelhorJogador()">votar</ion-button>
    </ion-col>
  </ion-row> 
  
  <ion-row style="margin-top: -3%;">
    
    <ion-col size="9">
      <div class="moldura">
        <img src="assets/futebol/medalha.png">
      </div>
      
      <div class="avatar">
        <img src="assets/futebol/messi-416x416.jpg">
      </div>
    </ion-col>
    <ion-col size="3">
      <div id="id-avatar">
        <h2>Messi</h2>
        <p>Atacante</p>
        <p>50 gols</p>
      </div>
    </ion-col>
  </ion-row>
  <br>
  <br>
  
  <ion-list>
    <h4 class="label-placar">Placar da Rodada</h4>
    <ion-row class="placar">
      <ion-col>
      Time A
      </ion-col>
      <ion-col>
      2 VS 1
      </ion-col>
      <ion-col>
      Time B
      </ion-col>
    </ion-row>

    <ion-row class="placar">
      <ion-col>
      Time C
      </ion-col>
      <ion-col>
      2 VS 3
      </ion-col>
      <ion-col>
      Time D
      </ion-col>
    </ion-row>

    <ion-row class="placar">
      <ion-col>
      Time E
      </ion-col>
      <ion-col>
      0 VS 1
      </ion-col>
      <ion-col>
      Time F
      </ion-col>
    </ion-row>

    <ion-row class="placar">
      <ion-col>
      Time G
      </ion-col>
      <ion-col>
      2 VS 1
      </ion-col>
      <ion-col>
      Time H
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
