<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      IGREJAS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="../../assets/igrejas/igreja-catolica-01.jpg" (click)="openIgrejaInfo()">
    <h3 class="card-title" (click)="openIgrejaInfo()">Paroquia Imaculada Conceição</h3>
    <ion-row class="social-midia">
    <ion-col>
      <button class="button-social">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button class="button-social">
        <ion-icon name="text"></ion-icon>
        <div>4 Comentarios</div>
      </button>
    </ion-col>
  </ion-row>
    <ion-card-content>
      <h4>Programação</h4>
      <ion-item>
        <ion-col>DOM</ion-col>
        <ion-col>08:00</ion-col>
        <ion-col>Salmo 25 e o risco que isso pode causar</ion-col>
      </ion-item>
      
      <ion-item>
        <ion-col>TER</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Novena só é terça porque tem futebol na quarta?</ion-col>
      </ion-item>
    </ion-card-content>


</ion-card>

 <ion-card>

    <img src="../../assets/igrejas/igreja-evangelica-01.jpeg">
    <h3 class="card-title">Igreja Cristã Evangelica</h3>
    <ion-row class="social-midia">
    <ion-col>
      <button class="button-social">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button class="button-social">
        <ion-icon name="text"></ion-icon>
        <div>4 Comentarios</div>
      </button>
    </ion-col>
  </ion-row>

    <ion-card-content>
      <h4>Programação</h4>
      <ion-item>
        <ion-col>DOM</ion-col>
        <ion-col>08:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>SEG</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>TER</ion-col>
        <ion-col>08:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>QUA</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>QUI</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>SEX</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>SAB</ion-col>
        <ion-col>19:00</ion-col>
        <ion-col>Apocalipse</ion-col>
      </ion-item>
    </ion-card-content>

</ion-card>
  
</ion-content>
