<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Paroq. Imaculada Conceição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item href="#">
      <div id="padre"><img src="../../assets/icon/priest.png"></div>
      <ion-label id="padre-nome">Padre Fulano de Tal</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Praca Capitão Pedro Silva, 1152</ion-label>
      
    </ion-item>

    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>(97) 3352-1152</ion-label>
      <ion-button fill="outline" slot="end">Ligar</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon name="at" slot="start"></ion-icon>
      <ion-label>igreja@hotmail.com</ion-label>
    </ion-item>
</ion-content>
