<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      Pagamento 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nome no cartão</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero do cartão</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">CVC</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">MM*</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">YYYY*</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    *validade
    <ion-button expand="full" fill="outline">Valor a pagar -  R$<strong>{{ total }},00</strong></ion-button>
  </ion-card>
  <ion-button expand="block" (click)="openPoltrona()">Pagar</ion-button>
</ion-content>
