ion-header {
  height: 150px;
}
ion-toolbar {
  --background: url('../../assets/suse-logo-04.jpg') no-repeat center center / cover;
  -webkit-background-size: cover;
  color: white;
  font-family: fantasy;
  height: 150px;
  
}
ion-content {
  --background: url('/assets/bg.jpg') no-repeat center center / cover;
}
ion-button {
  width: -webkit-fill-available;
  margin-top: -10%;
  
}
ion-title {
  padding-left: 40%;
  padding-top: 12px;
}
ion-menu-button {
  color: white;
  margin-top: 0
}
ion-col {
padding-left: 20px
}
h2 {
  text-align: center;
  padding-top: 12px;    
}
.sc-ion-buttons-md-h {
margin-top: -55px;
}
#icon {
  width: 100%;
  height: 70%;
}

#icon-info {
  width: 60px;
  margin-top: 15px;
}
#icon-rest {
  width: 87%;
  margin-left: -5px;
  margin-top: -6%;
}
#icon-loteria {
  width: 79%;
  height: 70%;
  padding-top: 17px;
  margin-left: 8px;
}
#cidade {
  color: black;
  margin-top: 87px;
  margin-right: 59px;
  font-family: sans-serif;
}
