<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <div id="cidade" slot="end">ANORI</div>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="category" (ionChange)="segmentChanged($event)" >
    <ion-segment-button value="home" checked>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-segment-button>
    <ion-segment-button value="noticias">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Notícias</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides>
    <ion-slide>
      <ion-grid>
      <ion-row>
        <ion-col (click)="openInfoAnori()">
          <div id="icon-info"><img src="../../assets/icon/info.png"></div>
          <span>Anori</span>
        </ion-col>
        <ion-col>
          <div id="icon-loteria" (click)="openLoteria()"><img src="../../assets/icon/loteria-icon.jpg"></div>
          <span>Loteria</span>
        </ion-col>
        <ion-col (click)="openPassagens()">
          <div id="icon"><img src="../../assets/icon/check-in.png"></div>
          <span>Passagens</span>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col (click)="openMototaxi()">
          <div id="icon"><img src="../../assets/icon/stunt.png"></div>
          <span>Mototaxi</span>
        </ion-col>
        
        <ion-col (click)="openDelivery()">
          <div id="icon-rest"><img src="../../assets/icon/pizza-shop.png"></div>
          <span>Delivery</span>
        </ion-col>

        <ion-col>
          <div id="icon" (click)="openHoteis()"><img src="../../assets/icon/hotel.png"></div>
          <span>Hotéis</span>
        </ion-col>
        
      </ion-row>
      
      <!--<ion-row>
        <ion-col>
          <div id="icon" (click)="openIgrejas()"><img src="../../assets/icon/church.png"></div>
          <span>Igrejas</span>
        </ion-col>
        <ion-col>
          <div id="icon"><img src="../../assets/icon/hospital.png"></div>
          <span>Hospitais</span>
        </ion-col>
        <ion-col>
          <div id="icon"><img src="../../assets/icon/school.png"></div>
          <span>Escolas</span>
        </ion-col>
      </ion-row>-->
      <ion-row>
        <ion-col (click)="openDenuncia()">
          <div id="icon"><img src="../../assets/icon/news.png"></div>
          <span>Denuncia</span>
        </ion-col>
        <ion-col (click)="openPrefeitura()">
          <div id="icon"><img src="../../assets/icon/town-hall.png"></div>
          <span>prefeitura</span>
        </ion-col>
        <ion-col>
          <div id="icon" (click)="openIgrejas()"><img src="../../assets/icon/church.png"></div>
          <span>Igrejas</span>
        </ion-col>
      </ion-row>

      <!--<ion-row>
        <ion-col>
          <div id="icon" (click)="openFake()"><img src="../../assets/icon/icon-fake-news.png"></div>
          <span>zueira-news</span>
        </ion-col>
        <ion-col> 
          <div id="icon"><img src="../../assets/icon/laugh.png"></div>
          <span>eventos</span>
        </ion-col>
        <ion-col>
          <div id="icon"><img src="../../assets/icon/cross.png"></div>
          <span>nota de falecimento</span>
        </ion-col>
      </ion-row>-->
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
      <ion-row>
        <ion-col >
          <div id="img-news"><img src="../../assets/news/Jair-Souto-e-Jamilson-Carvalho.jpg"></div>
        </ion-col>
        <ion-col>
          <h6 id="titulo-news"><a href="https://bncamazonas.com.br/municipios/prefeitos-anori-manaquiri-alerta-tce"> TCE manda alerta para prefeito de Anori por uso de verbas</a></h6>
        </ion-col>
      </ion-row>
      <ul>
        <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px; margin-left: -10%;"/>
      </ul>
      <ion-row>
        <ion-col >
          <div id="img-news"><img src="../../assets/news/futebol.jpeg"></div>
        </ion-col>
        <ion-col>
          <p id="titulo-news"><a href="https://www.acritica.com/channels/esportes/news/amazonas-fc-anuncia-elenco-e-comissao-tecnica-para-a-serie-b-do-barezao">O meia atacante Andrey comentou sobre a chance de poder atuar no profissional pela primeira vez</a></p>
        </ion-col>
      </ion-row>

      <ul>
        <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px; margin-left: -10%;"/>
      </ul>
      <ion-row>
        <ion-col >
          <div id="img-news"><img src="../../assets/news/Palestra.jpg"></div>
        </ion-col>
        <ion-col>
          <p id="titulo-news"><a href="https://www.fatoamazonico.com/oficina-reune-representantes-de-40-municipios-para-tracar-novas-estrategias-de-controle-da-malaria-no-am/">Anori participa de oficina</a></p>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-slide>
  
  </ion-slides>
</ion-content>