

<ion-content>
  <div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>Bem-vindo {{ user.displayName }}!</h1>
      <!--<ion-button (click)="logout()">Logout</ion-button>-->
    </div>
    <ng-template #showLogin>
      <p>Entra com</p>
      <!--<ion-button color="danger"(click)="login_google()">Google</ion-button>-->
      <ion-button color="danger" expand="full" (click)="login_google()">
        <ion-icon slot="start" name="logo-googleplus"></ion-icon>
        Google
      </ion-button>
    </ng-template>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

  <ion-button size="large" expand="block" (click)="register()">Entrar</ion-button>
</ion-content>
